{% extends 'base_navigation_no_footer.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - My Goals{% endblock %}
{% load i18n %}
{% load static %}

{% block mainContent%}

<a href="{% url 'goal:create_goal' %}">Create</a>
<h1>Goals</h1>
<ul>
{% for goal in object_list %}
    <li><a href="{% url 'goal:goal_detail' goal.pk %}">{{ goal.name }}</a></li>
{% empty %}
    <li>No goals yet.</li>
{% endfor %}
</ul>

     <div class="section-wrap">

        <div class="section-header">
            <span class="transaction-wallet-name">Goals List</span>
            <button class="btn-primary add-transaction-btn">Add Goal</button>
        </div>

        <div class="section-body">
            <div class="goals-card -list">

                <div class="goal">
                    <div class="goal-name-block">
                        <span class="goal-name">Dream Car</span>
                    </div>

                    <div class="goal-details">
                        <span data-attr-goal="" class="target-goal -list">100,000.00</span>
                        <span class="goal-date">Sept 2020</span>
                    </div>
                </div> <!-- One Goal Line -->

                <div class="goal">
                    <div class="goal-name-block">
                        <span class="goal-name">Dream Car</span>
                    </div>

                    <div class="goal-details">
                        <span data-attr-goal="" class="target-goal -list">100,000.00</span>
                        <span class="goal-date">Sept 2020</span>
                    </div>
                </div>

            </div>

        </div>


     </div>





{% endblock %}

{% block body-javascript-extension %}

    <script>

        $('#sidenav-goals').toggleClass('-active');
        $('#m-sidenav-goals').toggleClass('-active-mobile');

    </script>

{% endblock %}