{% extends 'base_navigation_no_footer.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - My Goals{% endblock %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block main-content %}

    <div class="section-wrap">

        <div class="section-header">
            <span class="transaction-wallet-name">My Goals</span>
            <a class="btn-primary add-transaction-btn float-right"
               style="text-decoration: none;box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.28);"
               href="{% url 'goal:create_goal' %}">Add Goal</a>
        </div>

        <div class="section-body" >

        <div id="goals-list" class="goals-card">
          <input class="search">
            <div class="goals-card -list list">
                {% for goal in object_list %}
                    <a href="{% url 'goal:goal_detail' goal.pk %}" class="goal">

                        <div class="goal-name-block">
                            <h1 class="goal-name">{{ goal.name }}</h1>
                        </div>

                        <div class="goal-details">
                            <span data-attr-goal="" class="target-goal -list">{{ goal.target_amount.amount|intcomma }}</span>
                            <span class="goal-date">{{ goal.target_date }}</span>
                        </div>

                    </a>
                {% empty %}
                    <li>No goals yet.</li>
                {% endfor %}
            </div>
</div>
        </div>


    </div>





{% endblock %}

{% block body-javascript-extension %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" type="text/javascript"></script>
    <script>

        $('#sidenav-goals').toggleClass('-active');
        $('#m-sidenav-goals').toggleClass('-active-mobile');

    </script>
    <script>
        let options = {
        valueNames: ['goal-name','target-goal'],
    };
           let goalsList = new List('goals-list', options);
    </script>

{% endblock %}