{% extends 'base_navigation_no_footer.html' %}
{% load static %}

{% block head-css-extension %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block header-extension %}
 <input type="hidden" id="goalID" value="{{ goal.pk }}">
    <ul class="header-menu-list -goals">

        <li class="header-menu-item" id="header-goal-details">
            <a href="{% url 'goal:goal_detail' goal.pk %}" class="header-menu-item-link">
                <span class="header-menu-item-name">Overview</span>
            </a>
        </li>

        <li class="header-menu-item" id="header-goal-settings">
            <a href="{% url 'goal:update_goal' goal.pk %}" class="header-menu-item-link">
                <span class="header-menu-item-name">Goal Settings</span>
            </a>
        </li>
    </ul>
    <script src="{% static "js/goal-header.js" %}"></script>
{% endblock %}
