{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Login{% endblock %}
{% load i18n %}

{% block content %}

    <div class="container-fluid h-100">

        <div class="row h-100">
            <div class="col-md-7 image-login"></div>

            <div class="col-6 col-md-5 vertical-center login-container" style=" display: flex; align-items: center;">

                <div class="login-box">

                    <div class="login-box-header">
                        <span class="sign-in">Sign In</span>
                        <span class="login-greeting">Sign In to Your Account.</span>
                    </div>

                    <div class="login-form">
                        <form class="login-form-fields" method="post" action="{% url 'user:login' %}" novalidate>
                            {% csrf_token %}


                            <div class="form-group login-input-field">
                                <span class="login-text-field-label">Email</span>
                                {% for error in form.username.errors %}
                                    <span class="error-field">
                                                {{ error }}
                                              </span>
                                {% endfor %}
                                {% render_field form.username class="form-control login-text-field" style="color: #EE8572;" %}
                            </div>

                            <div class="form-group login-input-field">
                                <span class="login-text-field-label">Password</span>
                                {% for error in form.password.errors %}
                                    <span class="error-field">
                                    {{ error }}
                                  </span>
                                {% endfor %}
                                {% render_field form.password class="form-control login-text-field" style="color: #EE8572;" %}
                            </div>
                            {% if form.non_field_errors %}
                                <div class="non-field-errors">
                                    {% for err in form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ err }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% render_field form.reCAPTCHA class="login-text-field" %}

                            <div class="form-group login-control">
                                <a href="{% url 'user:password_reset' %}" class="forgot-pass-link">Forgot Password?</a>
                                <input type="submit" value="{% trans 'sign in' %}" class="signin-button btn-secondary"/>
                                <a href="{% url 'user:django_registration_register' %}" class="register-link">Don't have
                                    an account? Create an account now!</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
