{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Reset Password Confirmation{% endblock %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="forgot-container ">
        <div class="forgot-success-block" style="padding:20px 0px 110px 0px;">

            <img src="{% static "images/reset-password-done.png" %}" alt="reset password" class="forgot-password-img">

            <span class="forgot-password-email-sent-title">Reset Password Done</span>

            <p class="forgot-password-email-sent-message">
                Your password has been set. You may go ahead and sign in now.
            </p>
            <a href="{% url 'user:login' %}" class="btn-primary forgot-login-button" style='text-decoration:none;'>go
                back to sign in</a>
        </div>
    </div>

{% endblock %}
