{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Reset Password{% endblock %}
{% load i18n %}
{% load static %}

{% block content %}
    {% if validlink %}
        <div class="forgot-container ">
            <div class="forgot-reset-block">
                <img src="{% static "images/reset-password.png" %}" alt="Reset password" class="reset-password-img">

                <span class="reset-title">Reset Password</span>
                <p class="reset-message">Please enter your new password</p>

                <form class="reset-form" method="post" novalidate>
                    {% csrf_token %}

                    <div class="reset-password-input-field">
                        <span class="reset-password-text-field-label">New Password</span>
                        {% for error in form.new_password1.errors %}
                            <span class="error-field">
                        {{ error }}
                      </span>
                        {% endfor %}

                        {% render_field form.new_password1 class="reset-password-text-field" %}
                    </div>

                    <div class="reset-password-input-field">
                        <span class="reset-password-text-field-label">Confirm New Password</span>
                        {% for error in form.new_password2.errors %}
                            <span class="error-field">
                        {{ error }}
                      </span>
                        {% endfor %}

                        {% render_field form.new_password2 class="reset-password-text-field" %}
                    </div>

                    {% render_field form.reCAPTCHA class="registration-text-field" %}

                    <button type="submit" class="reset-submit-button">Confirm</button>
                </form>
            </div>
        </div>

    {% else %}
        <div class="forgot-container ">
            <div class="forgot-success-block" style="padding:20px 0px 110px 0px;">

                <img src="{% static "images/invalid-link.png" %}" alt="invalid link" class="forgot-password-email-img">

                <span class="forgot-password-email-sent-title">Reset Password Link Expired</span>

                <p class="forgot-password-email-sent-message">
                    The password reset link has been expired, possibly because it has already been used.
                    <br>Please request a new password to reset.
                </p>

                <a href="{% url 'user:password_reset' %}" class="btn-primary forgot-login-button"
                   style='text-decoration:none;'>forgot password</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
