{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Email Sent{% endblock %}
{% load i18n %}
{% load static%}


{% block content %}
    <div class="forgot-container ">
        <div class="forgot-success-block">

            <img src="{% static "images/email.png" %}" alt="Email sent" class="forgot-password-email-img">

            <span class="forgot-password-email-sent-title">Email has been sent!</span>

            <p class="forgot-password-email-sent-message">
                An Email has been sent to your email address, which you<br>
                receive it shortly. If you don't receive an email,<br>
                please make sure you've entered the address you<br>
                registered with, and check your spam folder.
            </p>



            <!--<a href="" class="btn-primary forgot-login-button">go back to login</a>-->
           <input type="button" value="{% trans 'go back to login' %}" class="btn-primary forgot-login-button"/>
        </div>
    </div>

{% endblock %}
