{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Forgot Password{% endblock %}
{% load i18n %}
{% load static%}

{% block content %}

    <div class="forgot-container ">
        <div class="forgot-password-block ">

        <img src="{% static "images/forgot-password.png" %}" alt="Forgot password" class="forgot-password-img">

        <span class="forgot-title">Forgot password?</span>
        <p class="forgot-message">Enter the email address associated<br> with your account</p>

        <form method="post" class="forgot-password-form">
        {% csrf_token %}

        <div class="forgot-password-input-field">
            <span class="forgot-password-text-field-label">E-mail</span>
            {% for error in form.email.errors %}
              <span class="error-field">
                {{ error }}
              </span>
            {% endfor %}

            {% render_field form.email class="forgot-password-text-field" %}
        </div>

        <div class="forgot-password-control">
            <span class="redirect-prompt -forgot-prompt-style">Remember Password? <a href="${pageContext.request.contextPath}/login.jsp" class="login-link -forgot-link-style">Login</a></span>
            <button type="submit" class="forgot-submit-button">Submit</button>
        </div>

        </form>
    </div>

    </div>


{% endblock %}
