{% extends 'base-navigation.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Profile Account{% endblock %}
{% load i18n %}
{% load static %}

{% block mainContent %}

    <div class="container-fluid container-profile">
        <div class="container" style="padding: 50px 200px 0 200px; text-align: center;">
            <div class="container">
                <div class="row">
					<div class="profile-account">
						<span>Profile Account</span>
					</div>
				</div>

                <div class="row profile-form-box">
                    <div class="col image-change-pass">
					</div>

                    <div class="col">
                        <div class="container" style="padding: 25px;">
                            <div class="profile-header">
								<span>Change Password</span>
							</div>

                            <form method="post" class="profile-form-fields" action="{% url 'user:password_change' %}" autocomplete="false">
                                {% csrf_token %}

                                <div class="form-group">
                                    <span class="profile-text-field-label float-left">Current Password</span>
                                    {% for error in form.old_password.errors %}
                                      <span class="error-field">
                                        {{ error }}
                                      </span>
                                    {% endfor %}
                                    {% render_field form.old_password class="form-control" %}
                                </div>

                                <div class="form-group">
                                    <span class="profile-text-field-label float-left">New Password</span>
                                    {% for error in form.new_password1.errors %}
                                      <span class="error-field">
                                        {{ error }}
                                      </span>
                                    {% endfor %}
                                    {% render_field form.new_password1  class="form-control" %}
                                </div>

                                <div class="form-group">
                                    <span class="profile-text-field-label float-left">Confirm New Password</span>
                                    {% for error in form.new_password2.errors %}
                                      <span class="error-field">
                                        {{ error }}
                                      </span>
                                    {% endfor %}
                                    {% render_field form.new_password2 class="form-control" %}
                                </div>

                                {% render_field form.reCAPTCHA class="registration-text-field" %}

                                <div class="form-group update-password">
                                    <button type="submit" class="update-button btn-secondary float-right">update</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

