{% extends 'base_navigation_no_footer.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - My Categories{% endblock %}
{% load i18n %}
{% load static %}

{% block main-content %}

    <div class="categories-wrap">
        <div class="categories-header" style="margin-bottom: 20px;">
            <span class="transaction-wallet-name" style="margin-bottom: 0px !important;">Settings</span>

            <a class="btn-primary add-transaction-btn float-right"
               style="text-decoration: none;box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.28);"
               href="{% url 'category:create_custom_category' %}">Add Category</a>
        </div>

        <div class="settings-block">
            <div class="settings-navigation">

                <ul class="settings-main-items">
                    <li class="main-item">
                        <span class="main-item-name">Category Settings</span>

                        <ul class="settings-sub-items">
                            <li class="sub-item" id="custom-category-list">
                                <a href="{% url 'category:custom_category_list' %}" class="sub-item-name">
                                    My Categories</a>
                            </li>
                            <li class="sub-item" id="earnings-list">
                                <a href="{% url 'category:predefined_earnings_category_list' %}" class="sub-item-name">
                                    Earnings Categories</a>
                            </li>
                            <li class="sub-item" id="expenses-list">
                                <a href="{% url 'category:predefined_expenses_category_list' %}" class="sub-item-name">
                                    Expenses Categories</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>


            <div class="settings-content" style="width: 730px;">
                <div class="create-category-block">
                    <div class="manage-categories-block">

                        <div class="my-categories-block">
                            <span class="general-information -category-small">My Categories</span>

                            {% for category in object_list %}
                                <div class="category">
                                    <div class="category-description">
                                        <img class="category-icon" src="{% static 'icons/'|add:category.icon %}"
                                             alt="Transaction Icon">
                                        <span class="category-name">{{ category.name }}</span>
                                    </div>

                                    <div class="transaction-quantity">
                                        <span class="number-of-transaction">{{ category.wallettransaction_set.all|length }}</span>
                                    </div>

                                    <div class="category-kind">
                                        <span class="category-type">
                                            {% if category.is_expense %}
                                                Expense
                                            {% else %}
                                                Earning
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="category-control">
                                        <a href="{% url 'category:update_custom_category' category.pk %}">
                                            <img class="category-edit"

                                                 src="{% static "icons/edit.png" %}" alt="edit"></a>
                                        <img class="category-delete"
                                             href="#}"
                                             src="{% static "icons/delete.png" %}" alt="delete"
                                             onclick="delete_modal('{% url 'category:delete_custom_category' category.pk %}','Are you sure you want to delete this category?','Successfully deleted Category')">
                                    </div>

                                </div>
                            {% empty %}
                                <div sata-attr-message="No Custom Categories." class="no-transactions-message pt-5">
                                    To add a custom category, click Add Category on the upper right.
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block delete-modal-block %}
    {% include 'delete_modal.html' %}
{% endblock %}

{% block body-javascript-extension %}
    <script src="{% static 'js/category-sidepanel.js' %}"></script>

    <script>
        activeCategorySidepanel('#custom-category-list');
    </script>
    <script>
        activeNavIcon("#sidenav-settings", "#m-sidenav-settings");
    </script>

{% endblock %}