<body>
<h1>category</h1>
<a href="{% url 'category:create_custom_category' %}">Create</a>
<form method="post">
    {{ create_custom_category_form.as_p }}
    <input type="submit">
</form>
<ul>
    {% for category in object_list %}
        <li>{{ category.name }} {{ category.wallettransaction_set.all|length }} Transactions
            {% if category.is_expense %}Expense{% else %}Earnings{% endif %} <a
                    href="{% url 'category:update_custom_category' category.pk %}">Update</a>
            <a
                    href="{% url 'category:delete_custom_category' category.pk %}">Delete</a>
        </li>
    {% empty %}
        <li>No category yet.</li>
    {% endfor %}

</ul>
</body>

{% block body-javascript-extension %}

    <script>

        $('#m-sidenav-settings').toggleClass('-active');
        $('#m-sidenav-settings').toggleClass('-active-mobile');

    </script>

{% endblock %}