{% extends 'base_navigation_no_footer.html' %}
{% load widget_tweaks %}
{% block title %}Penny Pincher - Earnings Category List{% endblock %}
{% load i18n %}
{% load static %}

{% block main-content %}

    <div class="categories-wrap">

        <span data-attr-section-title="Settings" class="section-description"></span>

        <div class="settings-block -category-list">

            <div class="settings-navigation">

                <ul class="settings-main-items">
                    <li class="main-item">
                        <span class="main-item-name">Category Settings</span>

                        <ul class="settings-sub-items">
                            <li class="sub-item">
                                <a href="{% url 'category:custom_category_list' %}" class="sub-item-name">
                                    My Categories</a>
                            </li>
                            <li class="sub-item">
                                <a href="{% url 'category:predefined_earnings_category_list' %}" class="sub-item-name">
                                    Earnings Categories</a>
                            </li>
                            <li class="sub-item">
                                <a href="{% url 'category:predefined_expenses_category_list' %}" class="sub-item-name">
                                    Expenses Categories</a>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="settings-content -category-list" style="width: 708px;">

                <div class="category-list-block">

                    <span class="general-information -category">Earnings Categories</span>

                    {% for category in object_list %}
                        <div class="category">
                            <div class="category-description">
                                <img class="category-icon" src="{% static 'icons/'|add:category.icon %}"
                                     alt="Transaction Icon">
                                <span class="category-name">{{ category.name }}</span>
                            </div>

                            <div class="transaction-quantity">
                                <span class="number-of-transaction">{{ category.wallettransaction_set.all|length }}</span>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>


        </div>


    </div>




{% endblock %}

{% block body-javascript-extension %}

    <script>

        activeNavIcon("#sidenav-settings", "#m-sidenav-settings");

    </script>

{% endblock %}