{% extends 'wallet/wallet_header.html' %}
{% load static %}
{% load humanize %}
{% block head-css-extension %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block main-content %}

    <div class="transaction-wrap">
        <div class="transaction-header">
            <span class="transaction-wallet-name">{{ object.name }} Wallet</span>
        </div>

        <div class="transaction-body">

            <div class="transaction-filter-block">

                <div class="statistic-card">
                    <span class="statistic-card-title">Filters</span>
                    <div class="statistics-block -filter">

                        <div class="statistic-input-box">
                            <span class="statistic-input-label">Category</span>
                             <div class="statistics-input-box-style -dropdown" id="category-select-filter" onclick="showCheckboxes()">
                                <select class="statistics-filter">
                                    <option>All Categories</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div class="statistic-checkboxes"id="checkboxes">

                            </div>
                        </div>

                        <div class="statistic-input-box">
                            <span class="statistic-input-label">Note</span>
                            <div class="statistics-input-box-style">
                                <input type="text" name="statistic-keyword-filter" id="filterByNoteTextField"
                                       class="statistic-keyword-filter" placeholder="Filter by specific keyword">
                            </div>
                        </div>

                        <div class="statistic-input-box">
                            <span class="statistic-input-label">Date Range</span>
                            <div class="statistics-input-box-style">
                                <input type="text" name="statistic-keyword-filter" id="DateRangeFilter"
                                       class="statistic-keyword-filter" placeholder="Filter by specific keyword">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="transaction-finance-cards">

                <div class="statistic-card">
                    <span class="statistic-card-title">Total Balance</span>
                    <div class="statistics-block -finance">

                        <span class="statistic-amount">{{ object.balance.amount|intcomma }}</span>

                    </div>
                </div>

                <div class="statistic-card">
                    <span class="statistic-card-title">Total Period Expenses</span>
                    <div class="statistics-block -finance">

                        <span class="statistic-amount -expense-red" id="total-period-expenses">0.00</span>

                    </div>
                </div>

                <div class="statistic-card">
                    <span class="statistic-card-title">Total Period Earnings</span>
                    <div class="statistics-block -finance">

                        <span class="statistic-amount" id="total-period-earnings">0.00</span>

                    </div>
                </div>
            </div>

            <div class="transaction-graphs">
                <div class="statistic-card">
                    <span class="statistic-card-title">Account Balance</span>
                    <div class="statistics-block -chart">
                        <span class="chart-date-range">Mar 01 - 31</span>
                        <!-- Charts and Numbers-->
                        <div class="chart-size">
                            <canvas id="walletBalanceCurve" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <div class="tips-card">
                    <p class="tips-message">The more<br> you LEARN<br> the more<br> you EARN.</p>
                    <span class="tips-author">WarrenBuffett</span>
                </div>

            </div>

            <div class="transaction-graphs">
                <div class="statistic-card">
                    <span class="statistic-card-title">Period of Expenses</span>
                    <div class="statistics-block -overview-chart">
                        <span class="chart-date-range">Mar 01 - 31</span>
                        <!-- Charts and Numbers-->
                        <div class="chart-size">
                            <canvas id="savingsExpensesContrast" width="300" height="300"></canvas>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}


{% block body-javascript-extension %}
    <script src="{% static "js/progress-bar.js" %}"></script>
    <script src="{% static "js/pie-chart.js" %}"></script>
    <script src="{% static "js/line-chart.js" %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" type="text/javascript"></script>
    <script src="{% static "js/wallet-transactions.js" %}"></script>
    <script src="{% static "js/multiple-select.js" %}"></script>
        <script src="{% static "js/wallet-overview.js" %}"></script>
    <script>
        activeWalletHeader("#header-overview");
        activeNavIcon("#sidenav-wallet", "#m-sidenav-wallet");
    </script>

{% endblock %}