{% extends 'base_navigation_no_footer.html' %}
{% load static %}

{% block mainContent %}

    <h1>{{ object }}</h1>
    {{ object.wallettransaction_set.all}}

    <div class="transaction-wrap">

        <div class="transaction-header">
            <span class="transaction-wallet-name">Amera Wallet</span>
        </div>

        <div class="wallet-settings-block">

            <span class="general-information">General Information</span>

            <form method="post" class="update-wallet-form">

                <div class="update-wallet-input-boxes">
                    <div class="statistic-input-box -update-wallet">
                        <span class="statistic-input-label -add-transaction">Category</span>
                        <div class="statistics-input-box-style -add-transaction">
                            <select class="statistics-filter">
                            <option value="" disabled selected >Select Category</option>
                            <option value="1">Audi</option>
                            </select>
                        </div>
                    </div>

                    <div class="statistic-input-box -update-wallet">
                        <span class="statistic-input-label -add-transaction">Note (Optional)</span>
                        <div class="statistics-input-box-style -add-transaction">
                            <input type="text" name="statistic-keyword-filter" id="statisticKeywordFilter" class="statistic-keyword-filter" placeholder="Take down notes...">
                        </div>
                    </div>


                    <span class="delete-wallet-link">Delete Wallet</span>

                </div>

                <div class="wallet-settings-form-control">
                    <button class="update-wallet-btn">update</button>
                </div>


            </form>


        </div>

    </div>



{% endblock %}

{% block body-javascript-extension %}

    <script>

        $('#sidenav-wallet').toggleClass('-active');
        $('#m-sidenav-wallet').toggleClass('-active-mobile');

    </script>

{% endblock %}

