{% extends 'base_navigation_no_footer.html' %}
{% load static %}
{% block header-extension %}

    <ul class="header-menu-list">
        <li class="header-menu-item" id="header-transactions">
            <a href="{% url 'wallet:wallet_transactions' wallet.pk %}" class="header-menu-item-link">
                <span class="header-menu-item-name">Transactions</span>
            </a>
        </li>

        <li class="header-menu-item" id="header-overview">
            <a href="{% url 'wallet:wallet_overview' wallet.pk %}" class="header-menu-item-link">
                <span class="header-menu-item-name">Overview</span>
            </a>
        </li>

        <li class="header-menu-item" id="header-wallet-settings">
            <a href="{% url 'wallet:update_wallet' wallet.pk %}" class="header-menu-item-link">
                <span class="header-menu-item-name">Wallet Settings</span>
            </a>
        </li>
    </ul>
    <script src="{% static "js/wallet-header.js" %}"></script>
{% endblock %}

