/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Nunito sans',sans-serif;
  background: #f2f2f2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.component {
  margin-top: 40px;
  margin-left: 12px; }

.add-wallet-btn {
  background: #EE8572;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 12;
  color: white; }

.error-field {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: red; }
  .error-field.-absolute {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: red;
    position: absolute;
    top: 16px; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

button {
  cursor: pointer; }

.access-body {
  overflow: hidden; }

.access-container {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh; }
  .access-container:before {
    display: none;
    content: "mobile: 0, default: 1110"; }
  .access-container[data-eq-state$="mobile"] {
    display: flex; }
    .access-container[data-eq-state$="mobile"] > .image-registration {
      background: none; }
    .access-container[data-eq-state$="mobile"] > .registration-box-container {
      width: 100%;
      padding: 32px 72px 48px 72px; }
      .access-container[data-eq-state$="mobile"] > .registration-box-container > .registration-box > .registration-box-header > .sign-up {
        font-family: 'Nunito',sans-serif;
        font-weight: bold;
        font-size: 32px;
        color: #35495E; }
      .access-container[data-eq-state$="mobile"] > .registration-box-container > .registration-box > .registration-box-header > .registration-greeting {
        font-family: 'Nunito',sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #35495E; }

.image-registration {
  background: url(../images/sign-up.png) center/cover no-repeat;
  background-position-x: right; }

.registration-box-container {
  background: #49BEB7;
  padding: 42px 72px 48px 72px;
  height: 100%; }

.registration-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 32px 64px;
  max-width: 500px;
  margin: 0 auto; }
  .registration-box > .registration-box-header {
    margin-bottom: 20px; }

.registration-box-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  .registration-box-header > .sign-up {
    margin-bottom: 20px; }

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }

.registration-form-fields {
  width: 100%; }
  .registration-form-fields > .registration-input-field {
    margin-bottom: 12px; }
  .registration-form-fields > .registration-input-field:last-of-type {
    margin-bottom: 0px; }

.registration-control {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .registration-control > .redirect-prompt {
    margin-bottom: 28px;
    margin-top: 20px; }

.sign-up {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #35495E; }

.registration-greeting {
  font-family: 'Nunito',sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #35495E;
  line-height: 1.5em; }

.registration-input-field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative; }
  .registration-input-field > .registration-text-field-label {
    margin-bottom: 4px; }

.registration-text-field-label {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #35495E;
  display: block; }

.registration-text-field {
  background: #fcf9ea;
  color: #EE8572;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  width: 100%; }

.redirect-prompt {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #35495E; }
  .redirect-prompt > .login-link {
    margin-left: 12px; }
  .redirect-prompt.-forgot-prompt-style {
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #35495E; }

.login-link {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #49BEB7; }
  .login-link:hover {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #EE8572; }
  .login-link.-forgot-link-style {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #49BEB7; }

.signup-button {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #F2f2f2;
  background: #EE8572;
  padding: 8px 24px !important;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.28); }
  .signup-button:hover {
    background: #35495E; }

.forgot-body {
  background-color: #F2F2F2; }

.forgot-container {
  padding: 32px 0px 0px 0px; }

.forgot-password-block {
  background: #FFFFFF;
  max-width: 650px;
  margin: 0 auto;
  padding: 56px 0px 48px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 6px; }
  .forgot-password-block > .forgot-password-img {
    margin-bottom: 32px; }
  .forgot-password-block > .forgot-title {
    margin-bottom: 28px; }
  .forgot-password-block > .forgot-message {
    margin-bottom: 20px; }

.forgot-password-img {
  max-width: 375px; }

.forgot-title {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #35495E; }

.forgot-message {
  font-family: 'Nunito',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #35495E;
  line-height: 1.5em; }

.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }
  .forgot-password-form > .forgot-password-input-field {
    margin-bottom: 28px; }

.forgot-password-input-field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%; }
  .forgot-password-input-field > .forgot-password-text-field-label {
    margin-bottom: 6px; }

.forgot-password-text-field-label {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #35495E;
  display: block; }

.forgot-password-text-field {
  background: #fcf9ea;
  color: #EE8572;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  width: 100%; }

.forgot-password-control {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .forgot-password-control > .redirect-prompt {
    margin-bottom: 32px; }

.forgot-submit-button {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #F2f2f2;
  background: #EE8572;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.28); }
  .forgot-submit-button:hover {
    background: #35495E; }

.forgot-success-block {
  background: #FFFFFF;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px 0px 140px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 6px; }
  .forgot-success-block > .forgot-password-email-img {
    margin-bottom: 28px; }
  .forgot-success-block > .forgot-password-email-sent-title {
    margin-bottom: 28px; }
  .forgot-success-block > .forgot-password-email-sent-message {
    margin-bottom: 28px; }

.forgot-password-email-img {
  max-width: 250px; }

.forgot-password-email-sent-title {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #35495E; }

.forgot-password-email-sent-message {
  font-family: 'Nunito',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #35495E;
  line-height: 1.5em; }

.user-email-highlight {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #49BEB7; }

.forgot-login-button {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #F2f2f2;
  background: #EE8572;
  padding: 6px 24px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.28); }
  .forgot-login-button:hover {
    background: #35495E; }

.forgot-reset-block {
  background: #FFFFFF;
  max-width: 650px;
  margin: 0 auto;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 6px; }
  .forgot-reset-block > .reset-password-img {
    margin-bottom: 32px; }
  .forgot-reset-block > .reset-title {
    margin-bottom: 32px; }
  .forgot-reset-block > .reset-message {
    margin-bottom: 20px; }

.reset-password-img {
  max-width: 400px; }

.reset-title {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #35495E; }

.reset-message {
  font-family: 'Nunito',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #35495E; }

.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }
  .reset-form > .reset-password-input-field {
    margin-bottom: 20px; }
  .reset-form > .reset-password-input-field:last-of-type {
    margin-bottom: 28px; }

.reset-password-input-field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%; }
  .reset-password-input-field > .reset-password-text-field-label {
    margin-bottom: 6px; }

.reset-password-text-field-label {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #35495E;
  display: block; }

.reset-password-text-field {
  background: #fcf9ea;
  color: #EE8572;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  width: 100%; }

.reset-submit-button {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #F2f2f2;
  background: #EE8572;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.28); }

.greeting-banner-block {
  display: flex;
  flex-direction: column;
  background: url(../images/header-cover.png) center/cover no-repeat;
  padding: 72px 12px 72px 20px;
  border-radius: 8px; }
  .greeting-banner-block > .banner-title {
    margin-bottom: 40px; }

.banner-title {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #F2f2f2; }

.banner-message {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #F2f2f2;
  line-height: 1.4em; }

.section-description {
  font-family: 'Nunito',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #35495E; }
  .section-description:before {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #35495E;
    content: attr(data-attr-section-title);
    display: block;
    margin-bottom: 24px; }

.wallet-block {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 32px 0px 32px 12px;
  border-radius: 8px;
  min-width: 300px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(112, 112, 112, 0.5);
  -moz-box-shadow: 0px 3px 6px -1px rgba(112, 112, 112, 0.5);
  box-shadow: 0px 3px 6px -1px rgba(112, 112, 112, 0.5); }
  .wallet-block > .wallet-header {
    margin-bottom: 20px; }
  .wallet-block > .wallet-amount {
    margin-left: 72px; }

.wallet-header {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .wallet-header > .wallet-type {
    margin-left: 20px; }

.wallet-type {
  font-family: 'Nunito',sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #707070; }
  .wallet-type:before {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #35495E;
    content: attr(data-attr-wallet-name);
    display: block;
    margin-bottom: 12px;
    text-overflow: ellipsis; }

.wallet-img {
  max-width: 50px; }

.wallet-amount {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #49BEB7; }
  .wallet-amount:after {
    content: "PHP";
    text-transform: uppercase;
    margin-left: 20px; }

.wallet-btn {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #F2f2f2;
  background: #EE8572;
  border: none;
  border-radius: 8px;
  padding: 18px 0px;
  outline: thick #EE8572; }
  .wallet-btn:hover {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #F2f2f2;
    background: #35495E; }

.statistic-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 12px;
  border-radius: 10px; }
  .statistic-card > .statistics-block {
    margin-top: 12px; }

.statistics-block {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .statistics-block.-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 12px; }
  .statistics-block.-finance {
    padding: 20px 0px; }
  .statistics-block.-chart {
    padding: 20px 0px 40px 0px; }

.statistic-card-title {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #35495E; }

.progress-display-block {
  width: 60%;
  padding: 0px 40px; }
  .progress-display-block > .progress-dates {
    margin-top: 10px; }

.progress-percent {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #EE8572; }
  .progress-percent:after {
    content: '%'; }

.progress-wrap {
  width: 100%;
  border-radius: 100px;
  border: 1px solid #707070;
  overflow: hidden; }

.progress-bar {
  width: 0%;
  height: 30px;
  background-color: #EE8572;
  border-radius: 80px;
  transition: ease 2s; }

.progress-dates {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.progress-date {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #35495E; }

.statistic-amount {
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #49BEB7; }
  .statistic-amount:after {
    content: "PHP";
    text-transform: uppercase;
    margin-left: 20px; }
  .statistic-amount.-expense-red {
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #FF3838; }
    .statistic-amount.-expense-red:before {
      content: "-";
      text-transform: uppercase;
      margin-right: 2px; }

.statistic-input-box > .statistics-input-box-style {
  margin-top: 6px; }

.statistic-input-label {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #35495E; }

.statistics-input-box-style {
  padding: 6px;
  border: 1px solid #707070;
  border-radius: 10px; }

.statistics-filter {
  padding: 2px 6px;
  width: 100%;
  border: none;
  color: rgba(112, 112, 112, 0.8);
  outline: none; }

.statistic-keyword-filter {
  padding: 2px 6px;
  width: 100%;
  border: none;
  outline: none; }
  .statistic-keyword-filter ::placeholder {
    color: rgba(112, 112, 112, 0.8); }

.home-container {
  display: flex;
  flex-direction: column; }
  .home-container:before {
    display: none;
    content: "mobile: 0, default: 805"; }
  .home-container[data-eq-state$="mobile"] {
    display: flex; }
    .home-container[data-eq-state$="mobile"] > .main-container-block > .sidebar-block > .sidenav {
      position: absolute;
      opacity: 0;
      z-index: -1;
      background: #ffffff;
      padding: 20px 48px 0px 20px;
      width: 0px;
      height: 100%;
      transition: 0.5s ease; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .sidebar-block > .sidenav.-active {
        opacity: 1;
        position: fixed;
        z-index: 2;
        width: 200px;
        height: 100%;
        transition: 0.5s ease; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .sidebar-block > .sidenav > .sidenav-menu > .sidenav-border {
        margin-top: 225px;
        margin-bottom: 24px; }
    .home-container[data-eq-state$="mobile"] > .main-container-block > .sidebar-block > .sidenav-mobile {
      display: none; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .sidebar-block > .sidenav-mobile.-collapsed {
        position: relative;
        z-index: -1;
        top: 0;
        width: 0px; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .sidebar-block > .sidenav-mobile > .sidenav-menu > .sidenav-item > .sidenav-link > .sidenav-icon.-space-after {
        margin-bottom: 300px; }
    .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .header {
      position: fixed;
      width: 100%; }
    .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap {
      width: 95%;
      margin: 0 auto;
      padding-top: 100px; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .greeting-banner-block {
        padding: 42px 12px 42px 20px; }
        .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .greeting-banner-block > .banner-title {
          margin-bottom: 20px; }
        .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .greeting-banner-block > .banner-title {
          font-family: 'Nunito',sans-serif;
          font-weight: 400;
          font-size: 24px;
          color: #F2f2f2; }
        .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .greeting-banner-block > .banner-message {
          font-family: 'Nunito',sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #F2f2f2;
          line-height: 1.4em; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .wallets-section > .wallet-control-block {
        display: flex;
        flex-direction: column; }
        .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .wallets-section > .wallet-control-block > .wallet-buttons-block {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          align-content: center;
          justify-content: space-between;
          width: 100%;
          margin: 20px 0px 0px 0px; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .overview-section > .overview-cards-block > .overview-finance-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px; }
      .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .overview-section > .overview-cards-block > .overview-filter-charts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px; }
        .home-container[data-eq-state$="mobile"] > .main-container-block > .content-block > .main-content-block > .home-wrap > .overview-section > .overview-cards-block > .overview-filter-charts > .statistic-card > .statistics-block.-chart > .chart-size {
          width: 400px; }

.main-container-block {
  display: flex;
  flex-direction: row; }

.sidebar-block {
  overflow: hidden; }

.content-block {
  width: 100%; }
  .content-block.-apply-overlay {
    opacity: 0.4; }

.header > .header-menu {
  margin-left: 6px; }

.overlay-wrap-content-block-home {
  display: none;
  background: gray;
  width: 100%;
  height: 100%; }
  .overlay-wrap-content-block-home.-apply-overlay {
    position: fixed;
    opacity: 0.4;
    display: block;
    z-index: 1; }

.home-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px; }
  .home-wrap > .greeting-banner-block {
    margin-bottom: 64px; }
  .home-wrap > .wallets-section {
    margin-bottom: 64px; }

.wallets-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  .wallets-section > .section-description {
    margin-bottom: 20px; }

.wallet-control-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .wallet-control-block > .wallet-buttons-block {
    margin-left: 20px; }

.wallet-buttons-block {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  width: 30%; }

.overview-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  .overview-section > .section-description {
    margin-bottom: 20px; }

.overview-cards-block {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .overview-cards-block > .overview-finance-cards {
    margin-bottom: 20px;
    margin-top: 20px; }
  .overview-cards-block > .overview-filter-block {
    margin-bottom: 20px; }

.overview-finance-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }

.overview-filter-block {
  display: flex;
  flex-direction: column; }

.overview-filter-charts {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px; }

.chart-date-range {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #35495E;
  opacity: 0.6;
  align-self: flex-start; }

.chart-size {
  width: 100%;
  height: 300px; }

.sidenav {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background: #ffffff;
  padding: 20px 48px 0px 20px;
  width: 0px;
  height: 100%;
  transition: 0s ease; }
  .sidenav > .main-logo {
    opacity: 0; }
  .sidenav > .sidenav-menu {
    opacity: 0; }
  .sidenav.-active {
    opacity: 1;
    position: relative;
    z-index: 0;
    width: 200px;
    height: 100%;
    transition: 0.5s ease; }
    .sidenav.-active > .main-logo {
      opacity: 1;
      margin-left: 32px;
      margin-bottom: 40px;
      transition: 0.6s ease; }
    .sidenav.-active > .sidenav-menu {
      opacity: 1;
      transition: 1.2s ease; }

.sidenav-mobile {
  position: relative;
  width: 80px;
  align-items: center;
  background: #ffffff;
  transition: 0.5s ease;
  padding: 12px 20px 32px 12px;
  height: 100%; }
  .sidenav-mobile > .main-logo {
    margin-bottom: 40px;
    transition: 0.5s ease; }
  .sidenav-mobile > .sidenav-menu {
    opacity: 1;
    transition: 0.5s ease;
    margin-left: 12px; }
  .sidenav-mobile.-collapsed {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100px;
    transition: 0.5s ease; }
    .sidenav-mobile.-collapsed > .main-logo {
      opacity: 0; }
    .sidenav-mobile.-collapsed > .sidenav-menu {
      opacity: 0; }

.main-logo {
  max-width: 82px; }
  .main-logo.-collapsed-hidden {
    display: none; }
  .main-logo.-mobile-logo {
    max-width: 44px; }

.show-mobile-logo {
  max-width: 40px;
  display: none; }

.sidenav-icon {
  max-width: 20px; }
  .sidenav-icon.-profile {
    border-radius: 100%; }
  .sidenav-icon.-space-after {
    margin-bottom: 375px; }

.sidenav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .sidenav-menu > .sidenav-item {
    margin-bottom: 20px; }
  .sidenav-menu > .sidenav-border {
    margin-top: 300px;
    margin-bottom: 24px; }

.sidenav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s; }

.sidenav-link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  text-decoration: none; }
  .sidenav-link > .sidenav-item-name {
    margin-left: 6px; }

.sidenav-item-name {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #35495E; }

.sidenav-border {
  background: #707070;
  padding-top: 1px;
  display: block;
  width: 85%;
  align-self: flex-end;
  opacity: 0.5; }

.header {
  background: #ffffff;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: relative; }

.header-menu {
  max-width: 20px;
  cursor: pointer; }

.header-menu-mobile {
  max-width: 0px;
  transition: 0s ease;
  position: absolute;
  top: 20px;
  left: 14px;
  cursor: pointer; }
  .header-menu-mobile.-active {
    position: absolute;
    top: 20px;
    left: 160px;
    max-width: 20px;
    transition: 0.5s ease; }

.footer {
  background: #49BEB7;
  padding: 28px 64px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.copyright-text {
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff; }

html:before {
  display: none;
  content: ".access-container, .home-container"; }

/*# sourceMappingURL=main.css.map */
