{% extends 'base_navigation.html' %}
{% load static %}
{% load humanize %}

{% block title %}Penny Pincher - Dashboard{% endblock %}
{% block head-css-extension %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block main-content %}

    <div class="home-wrap">
        <div class="greeting-banner-block">
            <span class="banner-title">Welcome to Penny Pincher, {{ request.user.first_name }}!</span>
            <p class="banner-message">Here, you can keep track of your personal expenses<br>
                and savings for your long term goals.</p>
        </div>

        <div class="wallets-section">

            <span data-attr-section-title="Wallets" class="section-description">Recently used wallet</span>

            <div class="wallet-control-block">
                {% if wallet %}
                    <a href="{% url 'wallet:wallet_transactions' wallet.pk %}"
                       class="wallet-section card card-layout border-0 m-0"
                       style="display: inline-block; text-decoration: none;">
                        <div class="row">
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="wallet-block -scale">
                                    <div class="wallet-header">
                                        <img src="{% static 'icons/wallet-icon.png' %}" alt="Piggy Bank"
                                             class="wallet-img">
                                        <span data-attr-wallet-name="{{ wallet.name }}"
                                              class="wallet-type">{{ wallet.get_type_display }}</span>
                                    </div>
                                    <span class="wallet-amount">{{ wallet.balance.amount|intcomma }}</span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="wallet-buttons-block">
                        <a class="btn wallet-btn" style="text-decoration: none;margin-right: 10px;"
                           href="{% url 'wallet:create_wallet' %}">Add New Wallet</a>
                        <a class="btn wallet-btn" style="text-decoration: none;margin-right: 10px;"
                           href="{% url 'wallet:wallet_list' %}">View Wallets</a>
                    </div>
                {% else %}
                    <div class="wallet-buttons-block ml-3">
                        <div class="row">
                            <a class="btn wallet-btn" style="text-decoration: none;width: 85%;"
                               href="{% url 'wallet:create_wallet' %}">Add New Wallet</a>
                        </div>
                        <br>
                        <div class="row">
                            <a class="btn wallet-btn" style="text-decoration: none;width: 85%;"
                               href="{% url 'wallet:wallet_list' %}">View Wallets</a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="overview-section">

            <span data-attr-section-title="Overview"
                  class="section-description">Shows a summary report of all wallets</span>

            <div class="overview-cards-block">

                <div class="statistic-card">

                    <span class="statistic-card-title">Goal - {{ goal.name }}</span>
                    <div class="statistics-block">


                        <span class="progress-percent" id="progress-percent">30
                            <!--This is the value that represents the bar--></span>

                        <div class="progress-display-block">

                            <div class="progress-wrap">
                                <div class="progress-bar" id="progress-bar">
                                    <!--This is the actual bar that moves--></div>
                            </div>

                            <div class="progress-dates">
                                <span class="progress-date">Mar 2020</span>
                                <span class="progress-date">Dec 2020</span>
                            </div>

                        </div>


                    </div>

                </div>

                <div class="overview-finance-cards">

                    <div class="statistic-card">
                        <span class="statistic-card-title">Total Balance</span>
                        <div class="statistics-block -finance">

                            <span class="statistic-amount" id="total">0.00</span>

                        </div>
                    </div>

                    <div class="statistic-card">
                        <span class="statistic-card-title">Total Period expenses</span>
                        <div class="statistics-block -finance">

                            <span class="statistic-amount -expense-red" id="total-period-expenses">0.00</span>

                        </div>
                    </div>

                    <div class="statistic-card">
                        <span class="statistic-card-title">Total Period Earnings</span>
                        <div class="statistics-block -finance">

                            <span class="statistic-amount" id="total-period-earnings">0.00</span>

                        </div>
                    </div>
                </div>

                <div class="overview-filter-block">

                    <div class="statistic-card">
                        <span class="statistic-card-title">Filters</span>
                        <div class="statistics-block -filter">

                            <div class="statistic-input-box">
                                <span class="statistic-input-label">Category</span>
                                <div class="statistics-input-box-style -dropdown" id="category-select-filter"
                                     onclick="showCheckboxes()">
                                    <select class="statistics-filter">
                                        <option>All Categories</option>
                                    </select>
                                    <div class="overSelect"></div>
                                </div>
                                <div class="statistic-checkboxes" id="checkboxes">

                                </div>
                            </div>

                            <div class="statistic-input-box">
                                <span class="statistic-input-label">Note</span>
                                <div class="statistics-input-box-style">
                                    <input type="text" name="statistic-keyword-filter" id="statisticKeywordFilter"
                                           class="statistic-keyword-filter" placeholder="Filter by specific keyword">
                                </div>
                            </div>

                            <div class="statistic-input-box">
                                <span class="statistic-input-label">Date Range</span>
                                <div class="statistics-input-box-style">
                                    <input type="text" name="statistic-keyword-filter" id="DateRangeFilter"
                                           class="statistic-keyword-filter" placeholder="Filter by specific keyword">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="overview-filter-charts">

                    <div class="statistic-card">
                        <span class="statistic-card-title">Account Balance</span>
                        <div class="statistics-block -chart">
                            <span class="chart-date-range">Mar 01 - 31</span>
                            <!-- Charts and Numbers-->
                            <div class="chart-size">
                                <canvas id="homeLineChart" width="300" height="300"></canvas>
                            </div>

                        </div>
                    </div>

                    <div class="statistic-card">
                        <span class="statistic-card-title">Period of Expenses and Earnings</span>
                        <div class="statistics-block -chart">
                            <span class="chart-date-range">Mar 01 - 31</span>
                            <!-- Charts and Numbers-->
                            <div class="chart-size">
                                <canvas id="homePieChart" width="300" height="300"></canvas>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

{% endblock %}

{% block body-javascript-extension %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{% static "js/progress-bar.js" %}"></script>
    <script src="{% static "js/pie-chart.js" %}"></script>
    <script src="{% static "js/line-chart.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/multiple-select.js" %}"></script>
    <script>
        activeNavIcon("#sidenav-dashboard", "#m-sidenav-dashboard");
    </script>

{% endblock %}