{%  extends 'base.html' %}

{% block content %}

    <div class="home-container">

            <div class="main-container-block">

                <div class="sidebar-block">

                    <div class="sidenav" id="sidenav">
                        <img src="../sqa_penny_pincher/assets/images/logo.png" alt="" class="main-logo" id="main-logo">
                        <img src="../sqa_penny_pincher/assets/icons/menu.svg" alt="menu" class="header-menu-mobile" id="header-menu-mobile" >

                            <ul class="sidenav-menu">
                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/home.svg" alt="" class="sidenav-icon" class="sidenav-icon">
                                        <span class="sidenav-item-name">Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/wallet.svg" alt="" class="sidenav-icon" class="sidenav-icon">
                                        <span class="sidenav-item-name">Wallets</span>
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/goal.svg" alt="" class="sidenav-icon" class="sidenav-icon">
                                        <span class="sidenav-item-name">Goals</span>
                                    </a>
                                </li>

                                <div class="sidenav-border"></div>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/settings.svg" alt="" class="sidenav-icon" class="sidenav-icon">
                                        <span class="sidenav-item-name">Settings</span>
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/images/profile-pic.png" alt="" class="sidenav-icon -profile" class="sidenav-icon">
                                        <span class="sidenav-item-name">Profile</span>
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/logout.svg" alt="" class="sidenav-icon" class="sidenav-icon">
                                        <span class="sidenav-item-name">Logout</span>
                                    </a>
                                </li>
                            </ul>

                            <ul class="sidenav-control">


                            </ul>


                    </div>

                    <div class="sidenav-mobile" id="sidenav-mobile">
                        <img src="../sqa_penny_pincher/assets/images/logo.png" alt="" class="main-logo -mobile-logo">

                            <ul class="sidenav-menu">

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/home.svg" alt="" class="sidenav-icon">
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/wallet.svg" alt=""  class="sidenav-icon">
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/goal.svg" alt="" class="sidenav-icon -space-after">
                                    </a>
                                </li>


                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/settings.svg" alt="" class="sidenav-icon">
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/images/profile-pic.png" alt="" class="sidenav-icon -profile" >
                                    </a>
                                </li>

                                <li class="sidenav-item">
                                    <a href="#" class="sidenav-link">
                                        <img src="../sqa_penny_pincher/assets/icons/logout.svg" alt="" class="sidenav-icon">

                                    </a>
                                </li>
                            </ul>



                    </div>

                </div>

                <div class="content-block" id="content-block">

                    {% block mainContent %}

                        <!-- Here goes each page's contents-->

                    {% endblock %}

                </div>




                </div>
            </div>



            <div class="footer">
                <span class="copyright-text">&#169; Penny Pincher 2020</span>
            </div>

        </div>


{% endblock %}