<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block head-meta %}
        <meta name="viewport" content="width=device-width">
    {% endblock %}

    <title>{% block title %}Title{% endblock %}</title>

    {% block head-css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">

    {% endblock %}

    {% block head-javascript %}

    {% endblock %}

    {% block head-extension %}

    {% endblock %}
</head>
<body>
    {% block content %}Content{% endblock %}

    {% block body-javascript %}
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="{% static "js/eq.js" %}"></script>
        <script src="{% static "js/navigation.js" %}"></script>
    {% endblock %}

    {% block body-javascript-extension %}{% endblock %}
</body>
</html>